# Required: Base URL of the application
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Required: Verida network being used, either 'myrtle' or 'banksia'
NEXT_PUBLIC_VERIDA_NETWORK=myrtle

# Optional: RPC URL for the Polygon blockchain used by the Verida Network. Optional, as the Verida protocol will fallback to a default public one, but strongly recommended as the public ones are not always reliable.
NEXT_PUBLIC_VERIDA_RPC_URL=

# Required: Base URL of the Verida metrics endpoint
NEXT_PUBLIC_METRICS_BASE_URL=https://assets.verida.io/metrics

# Optional: Domaine to track analytics with Plausible. Leave empty to disable analytics.
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=

# Optional: Log level, one of 'debug', 'info' (default), 'warn', 'error'
# Logs are only displayed
NEXT_PUBLIC_LOG_LEVEL=debug

# Optional: This variable is picked up by the Sentry Build Plugin.
# It's used for authentication when uploading source maps.
SENTRY_AUTH_TOKEN=

# Optional. 'true' of 'false' to enable Sentry. Default to 'false' if undefined.
NEXT_PUBLIC_SENTRY_ENABLED=

# Optional. Data Source Name required by sentry to report errors and performance issues. If undefined, Sentry will be disabled
NEXT_PUBLIC_SENTRY_DSN=

# Optional. Environment used in Sentry, highly recommended.
NEXT_PUBLIC_SENTRY_ENVIRONMENT=

# Optional. Number between 0 (0%) and 1.0 (100%), capture x% of the transactions for performance monitoring. Default to 0.1 (10%). Keep it low in Production, but can be set to 1.0 (100%) in development.
NEXT_PUBLIC_SENTRY_TRACE_SAMPLE_RATE=0.1

# Optional. Number between 0 (0%) and 1.0 (100%), capture x% of the sessions for replay. Default to 0.1 (10%). Keep it low in Production, but can be set to 1.0 (100%) in development.
NEXT_PUBLIC_SENTRY_REPLAY_SESSION_SAMPLE_RATE=0.1

# Optional. Number between 0 (0%) and 1.0 (100%), capture x% of the sessions in error for replay. Default to 1.0 (100%). Can keep it like this in Production, reduce it if too much noise or close to quota.
NEXT_PUBLIC_SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE=1.0
