@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 222.2 47.4% 11.2%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --map-background: 240 23.5% 6.67%;
    --map-foreground: 231 24.1% 11.4%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 243 73% 7%;
    --foreground: 0 0% 100%;

    --muted: 223 47% 11%;
    --muted-foreground: 0 0% 100%;

    --accent: 253 84% 67%;
    --accent-foreground: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 100%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 7%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --status-active: 142 76% 36%;
    --status-active-foreground: 142 76% 36%;

    --ring: 0 0% 100%;

    --map-background: 240 23.5% 6.67%;
    --map-foreground: 0 0% 100%;

    --radius: 12px;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    background-image: url("../assets/images/bg-app-top-left.png"),
      url("../assets/images/bg-app-top-right.png"),
      url("../assets/images/bg-app-bottom.png");
    background-position:
      top left,
      top right,
      bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size:
      auto 800px,
      auto 800px,
      100% 300px;
  }

  .bar-container {
    background: linear-gradient(
      107deg,
      rgba(255, 255, 255, 0.06) 1.54%,
      rgba(255, 255, 255, 0.024) 100%
    );
  }

  .result-box {
    background: linear-gradient(
      107deg,
      rgba(255, 255, 255, 0.06) 1.54%,
      rgba(255, 255, 255, 0.024) 100%
    );
  }

  div#verida-modal {
    @apply fixed inset-0 z-50 grid place-items-center overflow-y-auto bg-black/30 py-10 backdrop-blur-sm data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0;
  }

  img#image {
    display: none;
  }
}
